function Answer.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 6
call String.new 1
push constant 72
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
pop this 0
push constant 6
call String.new 1
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
pop this 1
push constant 0
pop this 2
push pointer 0
return
function Answer.contain 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 2
pop local 1
label WHILE_EXP0
push local 0
push this 0
call String.length 1
lt
not
if-goto WHILE_END0
push this 0
push local 0
call String.charAt 2
pop local 2
push local 2
push argument 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push local 0
call String.charAt 2
push argument 1
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push local 0
push argument 1
call String.setCharAt 3
pop temp 0
push this 2
push constant 1
add
pop this 2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
push this 2
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
goto IF_END2
label IF_FALSE2
push constant 0
return
label IF_END2
function Answer.discloseAll 0
push argument 0
pop pointer 0
push this 2
push this 0
call String.length 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function Answer.getAnswer 0
push argument 0
pop pointer 0
push this 0
return
function Answer.getDisplay 0
push argument 0
pop pointer 0
push this 1
return
function Answer.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
